// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
// Typography
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// 1. Sub Text
// 2. Bold Text
// 3. Link 
// 4. Select
// 5. Input
// 6. Label
// 6. Field
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
// 1. Sub Text
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
@include b(sub-text) {
    display: inline;
    box-sizing: border-box;
    font-size: inherit;
    color: #333;
    @include m(400) {
        font-weight: 400;
    }
    @include m(primary) {
        color: #5a80a5;
    } //.sub-text--primary
    @include m(secondary) {
        color: #888888;
    } //.sub-text--scondary
    @include m(tertiary) {
        color: #999;
    } //.sub-text--tertiary
    @include m(yellow) {
        color: #d4d400;
    } //.sub-text--yellow
    @include m(logo-yellow) {
        color: #ffcc00;
    } //.sub-text--logo-yellow
    @include m(warning) {
        color: #d35400;
    } //.sub-text--warning
    @include m(alert) {
        color: #990000;
    } //.sub-text--alert
    @include m(success) {
        color: #008000;
    } //.sub-text--success
    @include m(complite) {
        color: #006600;
    } //.sub-text--complite
    @include m(emerald) {
        color: #138871;
    } //.sub-text--emerald
    @include m(purple) {
        color: #8E44AD;
    } //.sub-text--purple
    @include m(error) {
        color: #ff0000;
    } //.sub-text--purple
    @include m(nowrap) {
        white-space: nowrap;
    } //.sub-text--nowrap
} //.sub-text
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

// 2. Bold Text
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
@include b(bold) {
    font-weight: 700;
} //.bold
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// 3. Link
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
@include b(link) {
    display: inline;
    cursor: pointer;
    text-decoration: underline;
    color: #5a80a5;
    transition: text-decoration 0.25s ease-out;
    text-decoration: none;
    &:focus,
    &:hover {
        text-decoration: none;
    } //.link:hover
    &:visited {
        color: #5a80a5;
    }
    @include m(asc) {
        display: inline-block;
        box-sizing: border-box;
        padding-right: 1em;
        position: relative;
        white-space: nowrap;
        &:before {
            content: '';
            display: block;
            width: 1em;
            height: 1em;
            background-image: url('../icons/icon--long-arrow-up.svg');
            background-repeat: no-repeat;
            background-position: 0 0;
            position: absolute;
            top: 1px;
            right: 0;
        } //.link--asc:before
    } //.link--asc
    @include m(desc) {
        display: inline-block;
        box-sizing: border-box;
        padding-right: 1em;
        position: relative;
        white-space: nowrap;
        &:before {
            content: '';
            display: block;
            width: 1em;
            height: 1em;
            background-image: url('../icons/icon--long-arrow-down.svg');
            background-repeat: no-repeat;
            background-position: 0 0;
            position: absolute;
            top: 1px;
            right: 0;
        } //.link--desc:before
    } //.link--desc
    @include m(external) {
        text-decoration: none;
        color: #666;
        &:focus,
        &:hover {
            text-decoration: underline;
        } //.link--external:focus //.link--external:hover
        &:visited {
            color: #666;
        } //.link--external:visited   
    } //.link--external
    @include m(secondary) {
        color: #666;
    } //.link--secondary
    @include e(table) {
        display: block;
        box-sizing: border-box;
        position: absolute;
        cursor: pointer;
        font-size: 13px;
        text-decoration: none;
        color: #105A83;
        transition: background-color 0.25s ease-out;
        &:visited {
            color: #105A83;
        }
        &:focus,
        &:hover {
            background-color: #e4eaed;
        }
    }
} //.link
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// 4. Select
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
@include b(select) {
    display: block;
    flex: 1 1 auto;
    width: 100%;
    height: 28px;
    box-sizing: border-box;
    padding: 4px;
    border: solid 1px #ccc;
    outline: none;
    font-size: 12px;
    line-height: 1;
    color: #333;
    transition: border-color 0.25s ease-out;
    &:focus,
    &:hover {
        border-color: #999;
    } //.select:focus, .select:hover
    @include m(medium) {
        width: 200px;
    }
} //.select
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// 5. Input
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
@include b(input) {
    display: block;
    flex: 1 1 auto;
    width: 100%;
    height: 33px;
    box-sizing: border-box;
    padding: 4px;
    border: solid 1px #ccc;
    outline: none;
    font-size: 12px;
    line-height: 1;
    color: #333;
    transition: border-color 0.25s ease-out;
    &:focus,
    &:hover {
        border-color: #999;
    } //.input:focus, .input:hover
} //.select

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// 5. Icon Input
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
@include b(icon-input) {
    display: block;
    box-sizing: border-box;
    position: relative;
    @include e(input) {
        height: 42px;
        border: solid 3px #30353d;
        padding-left: 45px;
        background-color: #d8dbe0;
        font-size: 14px;
        transition: background-color 0.25s ease-out;
        &:hover,
        &:focus {
            border-color: #30353d;
            background-color: #fff;
        }
    }
    @include e(icon) {
        display: block;
        width: 36px;
        height: 28px;
        border-right: solid 1px #a0a8b4;
        position: absolute;
        top: 8px;
        left: 4px;
        font-size: 18px;
        line-height: 33px;
        text-align: center;
        fill: #798495;
    }
} //.login-input

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// 5. Textarea
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
@include b(textarea) {
    display: block;
    width: 100%;
    height: 60px;
    max-height: 350px;
    box-sizing: border-box;
    padding: 8px;
    margin: 0;
    border-radius: 0;
    border: 1px solid #ccc;
    outline: none;
    font-size: 14px;
    color: #000;
    resize: vertical;
    transition: border-color .25s ease-out;
    &:focus,
    &:hover {
        border-color: #999;
    }
    @include m(large) {
        width: 600px;
    }
}// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// 6. Label
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
@include b(label) {
    @include flex;
    @include flex-direction(column);
    @include flex-wrap(nowrap);
    @include flex-align(left,
    stretch);
    flex: 1 1 auto;
    box-sizing: border-box;
    font-size: 12px;
    color: #333;
    @include e(checkbox) {
        flex: 0 0 auto;
        align-self: flex-start;
        position: relative;
        bottom: -0.25em;
    }
    @include e(title) {
        display: block;
        box-sizing: border-box;
        margin-bottom: 4px;
        font-size: inherit;
        line-height: 1;
        color: inherit;
    } //.label__title
    @include m(no-title) {
        padding-top: 17px;
    }
    @include m(control) {
        @include flex-direction(row);
        @include flex-align(left,
        middle);
        font-size: inherit;
        @include e(title) {
            margin-bottom: 0;
            margin-left: 8px;
        }
    }
} //.label
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// 6. Field
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
@include b(field) {
    display: block;
    flex: 1 1 auto;
    box-sizing: border-box;
    font-size: 14px;
    color: #333;
    @include e(item) {
        display: block;
        box-sizing: border-box;
        margin-bottom: 2px;
        font-size: inherit;
        line-height: 1.2;
        color: inherit;
        &:last-child {
            margin-bottom: 0;
        }
        @include m(large-mb) {
            margin-bottom: 8px;
        }
    }
    @include e(label) {
        display: inline-block;     
        border-radius: 5px;
        padding: 5px 8px;
        margin: 5px 0px;
        @include m(yellow) {
            background-color: #fce8aa;
        }
        @include m(purple) {
            background-color: #c2c7e3;
        }
        @include m(pink) {
            background-color: #ffcccc;
        }
    }
    @include e(button) {
        display: block;
        box-sizing: border-box;
        margin: 10px 0;
    }
    @include e(title) {
        font-size: 16px;
        font-weight: 700;
        line-height: 1.2;
        color: inherit;
    }
    @include m(history) {
        font-size: 12px;
    }

    @include m(menu) {
        color: #fff;
        font-size: 12px;
        position: relative;
        top: 3px;
        cursor: pointer;
    }
} //.field
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// 6. List
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
@include b(list) {
    display: block;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    @include e(layout) {
        display: block;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        margin-bottom: 4px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    @include e(link) {
        display: block;
        box-sizing: border-box;
        padding: 8px;
        cursor: pointer;
        font-size: 13px;
        text-decoration: none;
        color: #105A83;
        transition: background-color 0.25s ease-out;
        &:visited {
            color: #105A83;
        }
        &:focus,
        &:hover {
            background-color: #e4eaed;
        }
    }
    @include e(label) {
        padding: 8px;
        background-color: #fff;
        transition: background-color .25s ease-out;
        &:focus,
        &:hover {
            background-color: #f1f4f8;
        }
    }
    @include m(primary) {
        @include e(layout) {
            margin-bottom: 0;
            border-bottom: solid 1px #ccc;
            &:last-child {
                border-bottom: none;
            }
        }
    }
    @include m(secondary) {
        padding: 8px;
        padding-left: 22px;
        @include e(layout) {
            margin-bottom: 8px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    @include m(control) {
        @include e(layout) {
            margin-bottom: 8px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    @include m(inline) {
        margin-bottom: -4px;
        @include e(layout) {
            display: inline-block;
            margin-right: 4px;
            margin-bottom: 4px;
        }
    }
}
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Attribute
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
@include b(attribute) {
    width: 100%;
    box-sizing: border-box;
    padding: 4px 17px 4px 4px;
    border: 1px solid #ccc;
    background-color: #fff;
    position: relative;
    font-size: 12px;
    text-overflow: ellipsis;
    text-align: left;
    @include e(badge) {
        display: block;
        box-sizing: border-box;
        padding: 1px 4px;
        border: 1px solid #f60;
        background-color: #fff;
        z-index: 3;
        font-size: 9px;
        font-weight: 700;
        color: #f60;
        position: absolute;
        top: -1px;
        right: -1px;
    }
    @include m(cat-red) {
        background-color: #f96363;
        border-color: #f72828;
    }
    @include m(cat-orange) {
        background-color: #f9b049;
        border-color: #ef7b23;
    }
    @include m(cat-yellow) {
        background-color: #fdff84;
        border-color: #e7ea2b;
    }
}
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Callout
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
@include b(callout) {
    @include flex;
    @include flex-direction(column);
    @include flex-wrap(nowrap);
    @include flex-align(center, middle);
    flex: 1 1 auto;
    height: auto;
    min-height: 60px;
    box-sizing: border-box;
    padding: 8px;
    margin: 4px 0;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 13px;
    text-align: center;
    color: #333;

    @include m(primary) {
        border-color: #85bbd8;
        background-color: #e1ecf2;
        color: #1F4961;
    }//.callout--primary
} //.callout
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Screenshot
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
@include b(screenshot) {
    display: block;
    width: 48px;
    height: 48px;
    box-sizing: border-box;
    border: solid 1px #ccc;
    overflow: hidden;
    position: relative;

    @include e(img) {
        display: block;
        width: 100%;
        height: 100%;
    } //.screenshot__img

    @include e(link) {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    } //.screenshot__link
} //.screenshot

@include b(warning) {
    font-size: 14px;
    padding: 5px 10px;
    background-color: #fcf3ca;
}

@include b(group-input) {
    @include flex;
    @include flex-direction(column);
    @include flex-wrap(nowrap);
    @include flex-align(left, stretch);
    flex: 1 1 auto;
    box-sizing: border-box;

    @include e(input) {
        height: 42px;
        padding: $global-padding/2;
        margin-bottom: -1px;
        border: 0;
        border: solid 1px $medium-gray;
        border-radius: 3px 3px 0 0;
        font-size: $global-font-size*0.875;

        &:hover,
        &:focus {
            z-index: 1;
        }

        @include m(last) {
            margin-bottom: 0;
            border-radius: 0 0 3px 3px;
        }
    }
} //.login-input
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -